* {
    box-sizing: border-box;
}
body {
    font-family: 'Open sans', sans-serif;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: -15px;
    padding-right: -15px;
}
[class*="section-"] {
    border-bottom: 1px solid #dde1e4;
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    /*.hide-sm {
        display: none;
    }*/
    .header {
        display: flex;
        position: sticky;
        top: 0;
        background-color: #1d2126;
    }
    .logo {
        text-align: left;
        align-self: center;
    }
    .menu ul {
        position: sticky;
        display: flex;
        overflow-x: scroll;
        justify-content:flex-start;
        align-self: center;
        list-style: none;
        margin-top: 5px;
    }
    .menu ul::-webkit-scrollbar {
        display: none;
    }
    .menu li {
        border: 1px solid #1d2126;
        border-radius: 5px;
        align-items: center;
        padding: 7px 10px;
        
    }
    .menu a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color:  #a4aead;
    }
    .menu li:hover {
        border: 1px solid #a4aead;
        border-radius: 5px;
    }
    .form {
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 15px;
        position: sticky;
        height: 30px;
    }
    .search {
        color: #a4aead;
        font-size: 14px;
        border: 1px solid #a4aead;
        border-radius: 5px;
        background: none;
        padding-left: 10px;
    }
    .search:focus {outline: none;}
    .search::-webkit-input-placeholder { color: #a4aead; }
    .button-search {
        position: absolute;
        height: 20px;
        margin-top: 5px;
        margin-left: 150px;
        background: transparent;
        border: none;
    }
    .button-search:before {
        content: "\f002";
        font-family: FontAwesome;
        color: #a4aead;
        font-size: 15px;
    }

    /*section-1*/

    .section-1 {
    background-image: url(images/background-photo.png);
    background-size: cover;
    }

    [class*="heading-"] {
        font-size: 25px;
    }
    .heading-1 {
        margin-top: 225px;
        color: #ffff
    }
    [class*="descri-"] {
        color: #8d8f92;
        font-size: 17px;
        margin-top: 35px;
        line-height: 1.5;
    }
    .buttons {
        align-items: left;
        margin-top: 40px;
        margin-bottom: 250px;
    }
    [class*="btn-"] {
        width: 125px;
        height: 45px;
        border-radius: 10px;
        background: transparent;
        border: 2px solid white;
        color: white;
        cursor: pointer;
    }
    .btn-more-video {
        margin-left: 10px;
    }
    [class*="btn-"]:hover {
        background-color: #39a493;
        border: none;
    }
    button {outline: none;}
    
    /*SECTION - 2*/

    .page-heading {
        margin-top: 80px;
        border-left: 10px solid #d0d5d9;
        padding-left: 15px;
        color: black;
    }
    .head-item {
        margin-top: 80px;
    }
    .descri-ption-2 {
        margin-top: 60px;
    }
    .text-selection {
        color: black;
        font-weight: bold;
    }
    .sotial-link {
        display: flex;
        flex-direction: row;
        margin-left: -1px;
        margin-top: 55px;
        margin-bottom: 100px;
    }
    [class*="square-"] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 1px;
        width: 60px;
        height: 60px;
        background-color:#d0d5d9;
        cursor: pointer;
    }
    .items {
        margin-left: 15px;
        margin-top: -2px;
    }
    .item-heading {
        font-size: 17px;
        font-weight: bold;
    }
    .descri-ption-item {
        margin-top: 20px;
    }
    .items-section {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-shrink: 0;
        margin-top: 30px;
    }
    .square-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        font-size: 20px;
        color: white;
        background-color: #36e3c8;
    }
    .item-container {
        margin-top: 30px;
    }

    /*SECTION - 3*/
    
    [class*="team-"] {
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .person-block {
        margin-top: 30px;
        margin-bottom: 100px
    }
    .block-team {
        margin-top: 30px;
    }
    .team-1 {
        background-image: url(images/face-1.png);
        background-size: cover;
    }
    .team-2 {
        background-image: url(images/face-4.png);
        background-size: cover;
    }
    .team-3 {
        background-image: url(images/face-3.png);
        background-size: cover;
    }
    .team-4 {
        background-image: url(images/face-2.png);
        background-size: cover;
    }
    
    .person-description {
        height: 70px;
        color: #292f36;
        background-color: #e1e6ea;
    }
    [class*="team-"]:hover .face-link {
        visibility: visible;
    }
    .face-link {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-self: center;
        visibility: hidden;
    }
    .square-link {
        background-color: #3a454d;
    }
    .square-link:hover {
        background-color: #292b2c;
    }
    .name-person {
        margin-left: 15px;
        padding-top: 15px;
        font-size: 14px;
        font-weight: bold;
    }
    .position-person {
        color: #a3a6a9;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    .block-team:hover .person-description {
        background-color: #3a454d;
        color: white;
    }
    /*SECTION 4*/

    .section-4, .section-6, .footer {
        background-color: #3a454d;
    }
    .dark-bg .heading-4, .heading-6 {
        color: white;
    }
    .lovely-work-container {
        margin-top: 30px;
    }

    .landscapes {
        margin-top: 30px;
    }
    [class*="photos-"] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .photos-1 {
        background-image: url(images/lift.png);
        background-size: cover;
    }
    .photos-2 {
        background-image: url(images/board.png);
        background-size: cover;
    }
    .photos-3 {
        background-image: url(images/road.png);
        background-size: cover;
    }
    .photos-4 {
        background-image: url(images/seascape.png);
        background-size: cover;
    }
    .photos-5 {
        background-image: url(images/mountains.png);
        background-size: cover;
    }
    .photos-6 {
        background-image: url(images/bird.png);
        background-size: cover;
    }
    .landscapes:hover .image-item {
        visibility: visible;    
    }
    .image-item {
        visibility: hidden;
        margin-top: 70px;
        padding: 25px 15px 25px;
        width: 100%;
        align-self: flex-end;
        background-color: #292f36;
        color: white;
    }
    .landscapes:hover .plus {
        visibility: visible;
    }
    .plus {
        margin-top: 70px;
        visibility: hidden;
        align-self: center;
        background-size: cover;
        background-image: url(images/plus.png);
        width: 40px;
        height: 40px;
    }
    .plus:hover {
        color: #292f36;
    }
    .btn-showme-more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        font-size: 12px;
        margin: 60px auto;
    }
    
    /*SECTION-5*/

    .service {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }
    .service-img {
        align-self: center;
    }
    .service .item-heading {
        margin-top: 30px;
        align-self: center;
    }
    .service .descri-ption-item {
        text-align: center;
    }
    .service-section {
        margin-bottom: 165px;
    }

    /*SECTION-6*/

    .features {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .features-section {
        margin-bottom: 125px;
    }
    [class*="photo-"] {
        height: 250px;
        background-size: cover;
    }
    .photo-7 {
        background-image: url(images/field.png);
    }
    .photo-8 {
        background-image: url(images/bicycle.png);
    }
    .photo-9 {
        background-image: url(images/lake.png);
    }
    .dark-bg .item-heading {
        margin-top: 55px;
        color: #ffff;
    }
    .dark-bg .descri-ption {
        margin-top: 30px;
        text-align: left;
    }

    /*SECTION-7*/
    .section-7 .page-heading {
        margin-bottom: 65px;
    }
    /*SECTION-8*/
    .section-8 .item-heading {
        font-size: 18px;
        margin-left: 10px;
        margin-top: 60px;
    }
    .contacts {
        margin-bottom: 130px;
    }
    .footer {
        display: flex;
    }
    .sotial {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-link {
        width: 30px;
        height: 30px;
    }
    
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /*HEADER*/
    .header {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: #1d2126;
    }
    .logo {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .menu ul {
        position: sticky;
        display: flex;
        justify-content:flex-start;
        list-style: none;
        margin-top: 25px;
        margin-left: 30px;
    }
    .menu li {
        border: 1px solid #1d2126;
        border-radius: 5px;
        align-items: center;
        padding: 7px 10px;
        
    }
    .menu a {
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color:  #a4aead;
    }
    .menu li:hover {
        border: 1px solid #a4aead;
        border-radius: 5px;
    }
    .form {
        margin-left: -15px;
        display: flex;
        margin-top: 25px;
        position: relative;
        height: 30px;
    }
    .search {
        color: #a4aead;
        font-size: 14px;
        border: 1px solid #a4aead;
        border-radius: 5px;
        background: none;
        padding-left: 10px;
    }
    .search:focus {outline: none;}
    .search::-webkit-input-placeholder { color: #a4aead; }
    .button-search {
        position: absolute;
        margin-top: 5px;
        margin-left: 150px;
        background: transparent;
        border: none;
    }
    .button-search:before {
        content: "\f002";
        font-family: FontAwesome;
        color: #a4aead;
        font-size: 15px;
    }
    [class*="descri-"] {
        color: #8d8f92;
        font-size: 15px;
        margin-top: 35px;
        line-height: 1.5;
        text-align: left;
    }
    .item-container {
        margin-top: 10px;
    }
    .sotial-link {
        margin-top: -35px;
    }
    .descri-ption-item {
        margin-top: 20px;
    }
    [class*="heading-"] {
        font-size: 30px;
        /*font-weight: bold;*/
    }
    .footer {
        display: flex;
    }
    .sotial {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-link {
        width: 30px;
        height: 30px;
    }
    
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*only mobile*/

@media(max-width:767px) {
    .hide-xs {
        display: none;
    }
    .header {
        display: flex;
        position: sticky;
        top: 0;
        background-color: #1d2126;
    }
    .logo {
        margin-top: 15px;
        text-align: center;
    }
    .menu ul {
        position: sticky;
        display: flex;
        overflow-x: auto;
        justify-content:space-between;
        list-style: none;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .menu ul::-webkit-scrollbar {
        display: none;
    }
    .menu li {
        padding-top: 10px;
    }
    .menu a {
        font-size: 15px;
        text-decoration: none;
        color:  #a4aead;
        padding: 7px 10px;
        border: 1px solid #1d2126;
    }
    .menu a:hover {
        border: 1px solid #a4aead;
        border-radius: 5px;
    }
    /*section-1*/

    .section-1 {
    background-image: url(images/background-photo.png);
    background-size: cover;
    }

    [class*="heading-"] {
        font-size: 25px;
    }
    .heading-1 {
        margin-top: 225px;
        color: #ffff
    }
    [class*="descri-"] {
        color: #8d8f92;
        font-size: 17px;
        margin-top: 35px;
        line-height: 1.5;
    }
    .buttons {
        align-items: left;
        margin-top: 40px;
        margin-bottom: 250px;
    }
    [class*="btn-"] {
        width: 125px;
        height: 45px;
        font-size: 13px;
        border-radius: 10px;
        background: transparent;
        border: 2px solid white;
        color: white;
        cursor: pointer;
    }
    [class*="btn-"]:hover {
        background-color: #39a493;
        border: none;
    }

    button {outline: none;}
    
    /*SECTION - 2*/

    .page-heading {
        margin-top: 80px;
        border-left: 10px solid #d0d5d9;
        padding-left: 15px;
        color: black;
    }
    .head-item {
        margin-top: 80px;
    }
    .descri-ption-2 {
        margin-top: 60px;
    }
    .text-selection {
        color: black;
        font-weight: bold;
    }
    .sotial-link {
        display: flex;
        flex-direction: row;
        margin-left: -1px;
        margin-top: 55px;
        margin-bottom: 100px;
    }
    [class*="square-"] {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
        width: 50px;
        height: 50px;
        background-color:#d0d5d9;
        cursor: pointer;
    }
    .items {
        margin-left: 15px;
        margin-top: -2px;
    }
    .item-heading {
        font-size: 17px;
        font-weight: bold;
    }
    .descri-ption-item {
        margin-top: 20px;
    }
    .items-section {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-shrink: 0;
        margin-top: 30px;
    }
    .square-item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        color: white;
        font-size: 20px;
        background-color: #36e3c8;
    }
    .item-container {
        margin-top: 30px;
    }

    /*SECTION - 3*/
    
    [class*="team-"] {
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .person-block {
        margin-top: 30px;
        margin-bottom: 100px
    }
    .block-team {
        margin-top: 30px;
    }
    .team-1 {
        background-image: url(images/face-1.png);
        background-size: cover;
    }
    .team-2 {
        background-image: url(images/face-4.png);
        background-size: cover;
    }
    .team-3 {
        background-image: url(images/face-3.png);
        background-size: cover;
    }
    .team-4 {
        background-image: url(images/face-2.png);
        background-size: cover;
    }
    
    .person-description {
        height: 70px;
        color: #292f36;
        background-color: #e1e6ea;
    }
    [class*="team-"]:hover .face-link {
        visibility: visible;
    }
    .face-link {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-self: center;
        visibility: hidden;
    }
    .square-link {
        background-color: #3a454d;
    }
    .square-link:hover {
        background-color: #292b2c;
    }
    .name-person {
        margin-left: 15px;
        padding-top: 15px;
        font-size: 14px;
        font-weight: bold;
    }
    .position-person {
        color: #a3a6a9;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    .block-team:hover .person-description {
        background-color: #3a454d;
        color: white;
    }
    /*SECTION 4*/

    .section-4, .section-6, .footer {
        background-color: #3a454d;
    }
    .dark-bg .heading-4, .heading-6 {
        color: white;
    }
    .lovely-work-container {
        margin-top: 30px;
    }

    .landscapes {
        margin-top: 30px;
    }
    [class*="photos-"] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .photos-1 {
        background-image: url(images/lift.png);
        background-size: cover;
    }
    .photos-2 {
        background-image: url(images/board.png);
        background-size: cover;
    }
    .photos-3 {
        background-image: url(images/road.png);
        background-size: cover;
    }
    .photos-4 {
        background-image: url(images/seascape.png);
        background-size: cover;
    }
    .photos-5 {
        background-image: url(images/mountains.png);
        background-size: cover;
    }
    .photos-6 {
        background-image: url(images/bird.png);
        background-size: cover;
    }
    .landscapes:hover .image-item {
        visibility: visible;    
    }
    .image-item {
        visibility: hidden;
        margin-top: 70px;
        padding: 25px 15px 25px;
        width: 100%;
        align-self: flex-end;
        background-color: #292f36;
        color: white;
    }
    .landscapes:hover .plus {
        visibility: visible;
    }
    .plus {
        margin-top: 70px;
        visibility: hidden;
        align-self: center;
        background-size: cover;
        background-image: url(images/plus.png);
        width: 40px;
        height: 40px;
    }
    .plus:hover {
        background-color: #292f36;
    }
    .btn-showme-more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        font-size: 12px;
        margin: 60px auto;
    }
    
    /*SECTION-5*/

    .service {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }
    .service-img {
        align-self: center;
    }
    .service .item-heading {
        margin-top: 30px;
        align-self: center;
    }
    .service .descri-ption-item {
        text-align: center;
    }
    .service-section {
        margin-bottom: 165px;
    }

    /*SECTION-6*/

    .features {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .features-section {
        margin-bottom: 125px;
    }
    [class*="photo-"] {
        height: 250px;
        background-size: cover;
    }
    .photo-7 {
        background-image: url(images/field.png);
    }
    .photo-8 {
        background-image: url(images/bicycle.png);
    }
    .photo-9 {
        background-image: url(images/lake.png);
    }
    .dark-bg .item-heading {
        margin-top: 55px;
        color: #ffff;
    }
    .dark-bg .descri-ption {
        margin-top: 30px;
        text-align: left;
    }

    /*SECTION-7*/
    .section-7 .page-heading {
        margin-bottom: 65px;
    }
    /*SECTION-8*/
    .section-8 .item-heading {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 60px;
    }
    .contacts {
        margin-bottom: 130px;
    }
    .footer {
        display: flex;
    }
    .sotial {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-link {
        width: 30px;
        height: 30px;
    }
}


